/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  color: var(--text-color);
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: var(--main-font, monospace);
  font-size: var(--main-font-size);
  background: center / cover no-repeat url(../images/cover-image-dark.png);
  background-color: var(--bg-color);
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-auto-rows: 1fr;
  padding-block-start: 18%;
  padding-block-end:17.6%;
  block-size: 100vb;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  display: block;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  inset-block-start: 10px;
  inset-inline-end: 0;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  display: block;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  inset-block-end: 10px;
  inset-inline-start: 0;
  inline-size: 25px;
  block-size: 25px;
}

.content-section {
  inline-size: calc(100% - 20px);
  margin: 0 auto;
}

.decore-icon {
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 28px;
}

.decore-icon::after {
  content: "REC";
  color: var(--accent-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 139%;
}

.decore-icon::before {
  content: "";
  position: absolute;
  display: block;
  border-radius: 100%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  block-size: 9px;
  inline-size: 9px;
  inset-inline-end: -19px;
  inset-block-start: 8px;
}

.header__theme-menu {
  justify-self: end;
  margin-block-start: 6px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.header__theme-menu-button {
  border: none;
  min-inline-size: 70px;
  block-size: 26px; 
  cursor: pointer;
  outline: none;
  color: var(--accent-color);
  font-family: inherit;
  font-size: inherit;
  line-height: 100%;
  background-color: transparent;
}

.header__theme-menu-button:focus-visible {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.main-title {
  color: var(--main-title-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
}

.text-shadow {
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title {
  font-weight: 700;
  line-height: 130%;
  font-size: var(--main-font-size);
}

.header__title {
  align-self: end;
}

.title-decor {
  color: var(--bg-color);
  background-color: var(--accent-color);
}

.content {
  
}